<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="../libs/highlight/styles/default.css">
			<script src="../libs/highlight/highlight.pack.js"></script>
			<script>hljs.initHighlightingOnLoad();</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ezersilva@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ezerfernandes">github.com/ezerfernandes</a></li>
				<li>@<a href="https://twitter.com/ezerfernandes">ezerfernandes</a><li>
				</ul>
			</footer>
		</body>
	</html>
